<div class="home__container">
    <app-card
        gameCover="https://i.pinimg.com/originals/f6/a9/de/f6a9deddfecf51fda4ef15dbd7ead32a.jpg"
        gameLabel="Exclusive"
        gameType=" Exclusive | PS5"
        gamePrice="299,99"
        youtubeVideoURL="'https://www.youtube.com/watch?v=kE7li_u1nmg&pp=ygUedHJhaWxlciBkbyBqb2dvIHRoZSBsYXN0IG9mIHVz'"
    >
    </app-card>


    <app-card
        gameCover="https://th.bing.com/th/id/OIP.ZJZssYf8uBLwl4jaVJrsNgHaLH?pid=ImgDet&rs=1"
        gameLabel="Exclusive"
        gameType="Exclusive | PS5"
        gamePrice="399,99"
        youtubeVideoURL="'https://www.youtube.com/watch?v=78CP8na1Fpo'" 
    >
    </app-card>

    <app-card
        gameCover="https://www.xtrafondos.com/wallpapers/vertical/personajes-de-god-of-war-ragnrok-8579.jpg"
        gameLabel="Digital"
        gameType="Digital | PS5"
        gamePrice="199,99"
        youtubeVideoURL="'https://www.youtube.com/watch?v=gqciogn3sUc'"
    >
    </app-card>

    <app-card
        gameCover="https://th.bing.com/th/id/OIP.q5kCm1_o2VUm6n4k9TrSrgHaJ4?pid=ImgDet&rs=1"
        gameLabel="Digital"
        gameType="Digital | PS5"
        gamePrice="249,99"
    >
    </app-card>

    <app-card
        gameCover="https://m.media-amazon.com/images/I/618vipGn7XL._SL500_.jpg"
        gameLabel="Digital"
        gameType="Digital | PS5"
        gamePrice="329,99"
    >
    </app-card>

    <app-card
        gameCover="https://www.androidcentral.com/sites/androidcentral.com/files/styles/small/public/article_images/2020/10/kena-bridge-of-spirits-box-art.jpg"
        gameLabel="Digital"
        gameType="Digital | PS5"
        gamePrice="319,99"
    >
    </app-card>
</div>



